.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.3em;
  font-weight: 700;
  width: 200px;
  height: 50px;
  padding: 8px;
  color: white;
  background-color: #767783;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: b;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.footer {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://cdn.pixabay.com/photo/2016/09/22/11/55/kitchen-1687121_1280.jpg");
  background-size: cover;
  
}


.first {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
}

  .first h4 {
      font-size: 15px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.2em;
      color: #fff;
      padding-bottom: 0.5em;
  }

      .first h4::after {
          content: '';
          background: #66c83d;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
      }

  .first p {
      font-size: 12px;
  }

.second {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second h4 {
  font-size: 15px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #fff;
  padding-bottom: 0.5em;
}

  .second h4::after {
      content: '';
      background: #66c83d;
      width: 20%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 40%;
  }


.footer li {
  list-style: none;
  padding-bottom: 10px;
}

.footer a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
  transition: 0.2s;
}

  .second a:hover, .second2 a:hover {
      color: #fff;
      transition: 0.2s;
      text-shadow: 1px 1px 20px rgba(0,0,0,1);
      text-decoration: none
  }


.third {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: right;
}


.third h4 {
    font-size: 15px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
    padding-bottom: 0.5em;
}


.third h4::after {
    content: '';
    background: #66c83d;
    width: 20%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 80%;
}


.third li {
    list-style: none;
    padding-bottom: 12px;
}

.third a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    transition: 0.2s;
}

.third a:hover {
    color: #fff;
    transition: 0.2s;
    text-shadow: 1px 1px 20px rgba(0,0,0,1);
}


@media screen and (max-width:500px) {
  .first {
      text-align: center;
  }

      .first h4::after {
          left: 40%;
      }
}

@media screen and (max-width:500px) {
  .third {
      text-align: center;
  }

      .third h4::after {
          left: 40% !important;
      }
}

.margin {
  margin-left: 20px;
}

.line {
  height:2px;
  background-color:rgb(206,206,206);
  width:100%;
}

.container h1{
  text-align:center;
  margin-top:100px;
  margin-bottom:100px;
}

.text-center {
  color: rgba(206, 206, 206, 0.692);
  letter-spacing: 2px;
  font-size: 12px;
}

.text-center a:hover {
  color:#66c83d;
  text-decoration: none;
}

ol, ul {
  padding-left: 50px;
}

#privacyTerms {
  font-size: xx-small;
  margin-top: -40px;
}

#privacyTerms a:hover{
  color:#66c83d;;
}

#privacy {
  text-align: right;
}